---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<nav>
  <div class="internal-links">
    <HeaderLink href="/hire/overview">Overview</HeaderLink>
    <HeaderLink href="/hire/foundryvtt">FoundryVTT</HeaderLink>
    <HeaderLink href="/hire/3d-modeling">3D Modeling</HeaderLink>
    <HeaderLink href="/hire/websites">Websites</HeaderLink>
    <HeaderLink href="/hire/consulting">Consulting</HeaderLink>
    <HeaderLink href="/hire/retainer">Retainer</HeaderLink>
    <HeaderLink href="/hire/oncall">On-Call Support</HeaderLink>
    <HeaderLink href="/hire/other">Other Services</HeaderLink>
  </div>
</nav>
<style>

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
    background: rgb(235, 235, 235);
		display: flex;
		align-items: center;
    justify-content: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
